<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% stylesheets 'assets/vendor/bootstrap/dist/css/bootstrap.css'
        'assets/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
        {% javascripts 'assets/vendor/jquery/dist/jquery.js'
        'assets/vendor/bootstrap/dist/js/bootstrap.js'
        'assets/js/*' %}
        <script src="{{ asset_url }}" rel="script" type="application/javascript"></script>
        {% endjavascripts %}
    </head>
    <body>
    {% block navbar %}
        <nav class="nav navbar navbar-default">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">{{ 'app.name' | trans }}</a>
                <div class="nav navbar-right navbar-text">
                    {% include '@FOSUser/Security/navbar.html.twig' %}
                </div>
                <ol class="breadcrumb">
                    <li><a href="{{ path('homepage') }}">{{ 'breadcrumbs.home' | trans }}</a></li>
                    {% block breadcrums %}{% endblock %}
                </ol>
            </div>
        </nav>
    {% endblock %}
    <div class="container">
        <div class="container-fluid">
        {% block body %}{% endblock %}
        </div>
    </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
