{% extends 'job.html.twig' %}

{% block title %}
    {% if job is defined %}
        Edit Job - {{ job.name }}
    {% else %}
        Add Job
    {% endif %}
{% endblock %}

{% block breadcrumname %}
    {% if job is defined %}
        {{ parent() }}
    {% else %}
        {{ 'breadcrumbs.job.add'|trans }}
    {% endif %}
{% endblock %}

{% block breadcrumurl %}
    {% if job is defined %}
        {{ parent() }}
    {% else %}
        {{ path('addjob') }}
    {% endif %}
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            {{ form(jobform) }}
        </div>
    </div>
{% endblock %}
