{% extends 'base.html.twig' %}

{% block pagetitle %}
    <h1>CCron Jobs</h1>
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <table class="table table-striped table-hover table-condensed jobs-table">
                <thead>
                <tr>
                    <th class="col-sm-3">{{ 'job.name' | trans }}</th>
                    <th class="col-sm-3">{{ 'job.schedule.title' | trans }}</th>
                    <th class="col-sm-2">{{ 'job.last.run.title' | trans }}</th>
                    <th class="col-sm-2">{{ 'job.last.run.title' | trans }}</th>
                    <th class="col-sm-1">{{ 'job.run.interval' | trans }}</th>
                    <th class="col-sm-1"></th>
                </tr>
                </thead>
                <tbody>
                {% for job in jobs %}
                    <tr job-id="{{ job.id }}">
                        <td class="job-name">{{ job.name }}</td>
                        <td class="job-schedule">{{ job.cronschedule }}</td>
                        <td class="job-last-run">{% if job.lastRun %}{{ job.lastRun | date }}{% endif %}</td>
                        <td class="job-next-run">{{ job.nextRun | date }}</td>
                        <td class="job-last-run-interval">{{ job.lastRunTime | runtime(job.lastRun) }}</td>
                        <td>
                            <a class="btn btn-default btn-xs" href="{{ path('editjob',{'id': job.id}) }}">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </a>
                            <a class="btn btn-default btn-xs" href="{{ path('viewbuilds',{'id': job.id}) }}">
                                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">{{ 'jobs.not_found' | trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5"></td>
                    <td><a class="btn btn-primary btn-xs" href="{{ path('addjob') }}"><span class="glyphicon glyphicon-plus"></span></a></td>
                </tr>
                </tfoot>
            </table>

            <table id="recentbuilds" class="table table-striped table-hover table-condensed recent-bulds-table">
                <thead>
                <tr>
                    <th class="col-sm-3">{{ 'job.name' | trans }}</th>
                    <th class="col-sm-1">{{ 'run.id' | trans }}</th>
                    <th class="col-sm-3">{{ 'host' | trans }}</th>
                    <th class="col-sm-2">{{ 'job.run.time' | trans }}</th>
                    <th class="col-sm-2">{{ 'job.run.interval' | trans }}</th>
                    <th class="col-sm-1"></th>
                </tr>
                </thead>
                <tbody>
                {{ render(path('builds_recent')) }}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        $(function () {
            updateRecentBuilds("{{ path('builds_recent') }}");
        });
    </script>
{% endblock %}
