{% for build in builds %}
    <tr>
        <td>{{ build.job.name }}</td>
        <td>{{ build.id }}</td>
        <td>{{ build.time | date }}</td>
        <td>{{ build.runTime }}</td>
        <td><a class="btn btn-default btn-xs" href="{{ path('viewconsole', {'id': build.id, 'job': build.job.id}) }}"><span
                        class="glyphicon glyphicon-console"></span></a></td>
    </tr>
{% else %}
    <tr>
        <td colspan="5">No Recent Runs</td>
    </tr>
{% endfor %}
